body {
    background: #f9f9f9;
    margin: 0;
    font-family: 'Archivo Black', Helvetica;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
nav {
  background-color: #A9B8C9;
  padding: 15px;
  text-align: center;
}
  .container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
.container2 {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* ======= CAROUSEL SECTION ======== */
.carousel-container {
  width: 60%;
  display: flex;
  justify-content: space-around;
  
}
.carousel-images {
  padding: 10px;
  border-radius: 10px;
  width: 80%;
  display: flex;
  flex-direction: row;
  

}

.carousel-button {
  align-self: center;
  background: #eeeeee;
  color: #888;
  padding: 10px;
  border-radius: 50%;
  text-align: center;
 
}

.carousel-button:hover {
  cursor: pointer;
  background: #E0C6BA;
  box-shadow: 1px 1px #d7d7ce;
  color: white;
}

.bookcover {
 
  padding: 2rem;
  flex: 1;
  
}

.bookInfo {
 
  padding: 2rem;
  flex: 3;

}
.slide {
  display: flex;

}

.button {
  display: inline-block;
  background-color: #eeeeee;
  border-radius: 10px;
  border: 4px double #cccccc;
  text-align: center;
  font-size: 16px;
  padding: 6px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.button:hover {
  background: #E0C6BA;
  cursor: pointer;
}