body {
    background: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
nav {
  background-color: #A9B8C9;
  font-family: 'Libre Baskerville', serif;
  padding: 15px;
  font-size: xx-large;
  text-align: center;
}
  .container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .blurb {
    text-align: center;
    padding: 2em;
  }

  input[type=text] {
    border: none;
    border-bottom: 2px solid #A9B8C9;;
  }

  .button {
    background-color:whitesmoke;
    border: #A9B8C9;
    color: black;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .button:hover {
    background: #A9B8C9;
    cursor: pointer;
  }

.radioButtons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
   
}

label {
  margin-right: 10px;
}
.container2 {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
#noBooks {
  margin-top: 15px;
}
/* ======= CAROUSEL SECTION ======== */
.carousel-container {
  width: 60%;
  display: flex;
  justify-content: space-around;
  
}
.carousel-images {
  padding: 10px;
  border-radius: 10px;
  width: 80%;
  display: flex;
  flex-direction: row;
  

}

.carousel-button {
  align-self: center;
  background: #eeeeee;
  color: #888;
  padding: 10px;
  border-radius: 50%;
  text-align: center;
 
}

.carousel-button:hover {
  cursor: pointer;
  background: #A9B8C9;
  box-shadow: 1px 1px #d7d7ce;
  color: white;
}

.bookcover {
 
  padding: 2rem;
  flex: 1;
  
}

.bookInfo {
 
  padding: 2rem;
  flex: 3;

}
.slide {
  display: flex;

}
